body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  background-color: rgb(212, 222, 219);
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #222;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}
.form-container {
  background-color: rgba(248, 245, 245, 0.9);
  backdrop-filter: blur(10px);
  padding: 25px 30px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.form-container label {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  color: #333;
  font-size: 14px;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container input[type="file"],
.form-container input[type="range"] {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1.5px solid #ccc;
  font-size: 14px;
  transition: border-color 0.3s;
}
.radio-group,
.checkbox-group {
  display: flex;
  gap: 15px;
  margin-top: 8px;
  align-items: center;
}
#marksValue {
  font-weight: 600;
  color: blue;
}
button {
  width: 100%;
  background: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.card-container {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  width: 280px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.student-photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #007bff;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 #studentcard h2{
    font-size: 20px;
    color: #222;
    margin-bottom: 10px;
    font-weight: 600;
}
#studentcard p{
    margin: 6px 0;
    color: #555;
    font-size: 14px;
}
#studentcard p span{
    font-weight: 500;
    color: #000;
}
